*.py[cod]
*.sw[a-z]
*.pbf
*.osm

# Generated PBF files
*_pb2.py

# Log files
*.log

# TeX stuff
*.aux
*.toc
*.te~
*.out
*-eps-converted-to.pdf

# TeX output
*.dvi
*.ps
/text/cs/prace.pdf
/text/cs/prace-book.pdf

# C extensions
*.so
*.o

# Binaries
/osm/osmconvert
/osm/merge-srtm
/compiled/filter
/compiled/search
/QOsmWalk-build-Release
/QOsmWalk-build-Debug

# Generated includes
/compiled/include

# Generated Qt files
*.pro.user

# Profiler output
gmon.out
gmon-praha.out

# Programs output
/compiled/track.gpx

# Libraries
/scripts/imposm-parser
/scripts/svgwrite-1.1.3
/QMapControl

# SRTM files
/osm/heights.txt
*.hgt

# Others
/text/jakpsat
