# Swap files
*.sw[a-z]
*.bak

# OSM files
*.osm

# Generated PBF files
*_pb2.py
*.pbf

# Generated map
/data

# Log files
*.log

# TeX stuff
*.aux
*.toc
*.te~
*.out
*-eps-converted-to.pdf

# TeX output
*.dvi
*.ps
/text/cs/prace.pdf
/text/cs/prace-book.pdf

# Libraries
*.so
*.o
*.py[cod]

# Binaries
/osm/osmconvert
/osm/merge-srtm
/compiled/filter
/compiled/search
/compiled/parse
/compiled/order
/QOsmWalk-build-Release
/QOsmWalk-build-Debug
/build-QOsmWalk*
/transfer-finder/search-transfer

# Generated includes
/compiled/include
/transfer-finder/include

# Generated Qt files
*.pro.user

# Profiler output
gmon.out
gmon-praha.out

# Programs output
/compiled/track.gpx
/transfer-finder/*.gpx
/transfer-finder/*json

# Libraries
/scripts/imposm-parser
/scripts/svgwrite-1.1.3
/QMapControl
/ext-lib

# SRTM files
/osm/heights.txt
*.hgt

# Others
/text/jakpsat
/compiled/tree.[ch]
