<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8 />
        <title>Hledání pěších tras v Praze</title>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" href="/static/style.css" />
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="/static/leaflet-ajax.js"></script>
	<script src="/static/maps.js"></script>
        <style>
              body { margin:0; padding:0; }
                #map { position:absolute; top:20px; bottom:0; width:100%; }
            </style>
        </head>
        <body>
	    <div><button id="gpxbut">Stáhnout jako GPX</button><span style="float: right"><a href="https://github.com/xtompok/osmawalk">Zdrojový kód</a></span> </div>
	    <div id='leftcol'>
	    </div>
            <div id='map'></div>
	    <script>
	    	"use strict";
		
		var from;
		var to;
		var map = createBaseMap();
		var stage = 0;
		var connections = [];
		var gpxbut = document.getElementById("gpxbut")
		var leftcol = document.getElementById("leftcol");
		gpxbut.disabled=true
		var bbox_rect = L.polygon([
			L.latLng({{bbox.minlat}},{{bbox.minlon}}),
			L.latLng({{bbox.minlat}},{{bbox.maxlon}}),
			L.latLng({{bbox.maxlat}},{{bbox.maxlon}}),
			L.latLng({{bbox.maxlat}},{{bbox.minlon}}),
			L.latLng({{bbox.minlat}},{{bbox.minlon}}),
			],{'fill':false,'stroke':true,'color':'red','weight':2})
		bbox_rect.addTo(map)
		map.on('click', function(e) {
			if (stage == 0){
				if (from){
					map.removeLayer(from);
				}
				if (to){
					map.removeLayer(to);
				}
				connections.forEach(function(item,index,aarray){
					map.removeLayer(item.layer);	
				});
				gpxbut.disabled = true


				from = L.marker(e.latlng,{icon:greenIcon});
				from.addTo(map);		
				stage++;
			} else if (stage == 1){
				if (to){
					map.removeLayer(to)	
				}
				to = L.marker(e.latlng,{icon:redIcon});
				to.addTo(map);
				stage = 0;	
				findPath(from.getLatLng(),to.getLatLng());
				gpxbut.disabled = false
				gpxbut.onclick = function(){downloadGPX(from.getLatLng(),to.getLatLng())}
				//pathLayer.addTo(map);

			}
		});


		// Wait for the page to load first
		window.onload = function() {

		}
	    </script>


            </body>
        </html>

